@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

@mixin Butt{
  font-family: "Poppins", sans-serif;
    padding: 1rem;
    background-color: #2a2a2a;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    &:hover{
        background-color: rgb(249, 63, 7);
        cursor: pointer;
        color: white;
        }
}
@mixin Article{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 32vh;
}
.sectionWrapper {
    background-color: rgba(12, 12, 12, 0.216);
  }

  .sectionWrapperP {
    @include Article;
    h2{
        margin-top: 1rem;
        color:rgb(249, 63, 7);
        font-weight: 400;
    }
    p{
      font-weight: 300;
    }
    button{
        @include Butt;
        font-weight: 400;
        font-size: 0.5rem;
        border-radius: 50%;
        background-color:  rgb(249, 63, 7);
        color: white;
        border: none;
    }
  }
  
  .headerInfo{
    color:white;
    width: 35%;
    height: 80%;
    background-color: #000000dc;
    padding: 2rem;

}

