.navWrapper {
  background-color: #333;
  padding: 15px;
  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none; /* Fjern prikker */
    li {
      margin-right: 15px; /* Juster margen mellem menu punkter efter behov */
      &:last-child {
        margin-right: 0; /* Fjern margen fra det sidste element */
      }
      .NavLink {
        color: #fff !important; /* Hvid tekstfarve */
        text-decoration: none; /* Fjern understregning */
        font-weight: 100;
        font-size: 16px; /* Juster skriftstørrelsen efter behov */
      
        &:hover {
          text-decoration: underline; /* Vis understregning ved hover */
        }
      }
    }
  }
}

