.navWrapper {
  background-color: #ffffff;
  padding: 0;
  .logo{
   margin-bottom: -3rem;
   width: 3%;
   height: 3%;
   padding: 1rem;
  }
  img{
    position: relative;
    border-radius: 50%;
    z-index: 0;
  }

  ul {
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
    list-style-type: none; /* Fjern prikker */
    li {
      margin-right: 15px; /* Juster margen mellem menu punkter efter behov */
      &:last-child {
        margin-right: 0; /* Fjern margen fra det sidste element */
      }
      .NavLink {
        color: black;
        text-decoration: none; /* Fjern understregning */
        font-weight: 300;
        font-size: 1rem; /* Juster skriftstørrelsen efter behov */
      
        &:hover {
          text-decoration: underline; /* Vis understregning ved hover */
        }
      }
    }
  }
}

