// Header.module.scss
.headerWrapper {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 340px;
    display: flex;
    justify-content: center;
    flex-direction: column; 

  }
  
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 8vw;
    font-weight: 100;
    white-space: nowrap; /* Forhindrer, at teksten brydes */

    text-overflow: ellipsis;
    padding: 0rem;
    
  }
  img{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  