// Header.module.scss
.headerWrapper {
    background-image: url('../../assets/images/headerImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; /* Sørger for, at børnene er stakket i kolonnen */
  }
  
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12vh;
    font-weight: 100;
    white-space: nowrap; /* Forhindrer, at teksten brydes */
    overflow: hidden;    /* Skjuler overskydende tekst */
    text-overflow: ellipsis;
    
  }
  