.footerWrapper {
    background-color: #333;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
    color: #fff;
    padding-bottom: 3rem;

  }
  
  .subscribeSection {
        h3 {
      margin-bottom: 1rem;
      font-weight: 100;
    }
  
    .inputFields {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
  
      input {
        margin-bottom: 5px;
        padding: 8px;
      }
    }
  
    button {
        margin-top: 2rem;
      padding: 10px;
      background-color: #333;
      color: white;
      border: white solid 1px;
      cursor: pointer;
    
      font-weight: 100;
      &:hover{
      background-color: #121212;
      }
    }
  }
  
  .quickLinksSection {
    h4 {
      font-weight: 100;
      margin-bottom: 10px;
    }
  
    ul {
      list-style: none;
      padding: 0;
      font-size: 0.7rem;
  
      li {
        margin-bottom: 5px;
      }
    }
  
    .followUs {
      margin-top: 20px;
      font-weight: 100;
  
      h4 {
        
        margin-bottom: 10px;
      }
  
      .socialLinks {
        display: flex;
        a {
          margin-right: 10px;
          color: white;
          text-decoration: none;
          display: inline-block;
          border-radius: 50%; /* Runde cirkler */
          width: 30px;
          height: 30px;
          background-color: white;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  .findUsSection {
    h4 {
      font-weight: 100;
      margin-bottom: 10px;
    }
  
    .contactInfo {
      p {
        font-size: 0.7rem;
        margin-bottom: 5px;
      }
    }
  }
  